.calcBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputUser {
  background-color: #858694;
  color: #efeff1;
  font-weight: bold;
  border: none;
  width: 19.8rem;
  height: 3rem;
  font-size: larger;
  direction: rtl;
}

.direction {
  direction: rtl;
}

.backClr {
  background-color: #e0e0e0;
  border: 1px solid #cdcdcd;
  width: 5rem;
  height: 5rem;
  font-weight: bold;
  cursor: pointer;
}

.zero {
  width: 10rem;
}

.difClr {
  background-color: #f5913e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 10% auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

li {
  margin-left: 5%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #f5913e;
}

.calculator {
  display: flex;
  justify-content: space-around;
}
