.calcBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.inputUser {
  background-color: #858694;
  color: #efeff1;
  font-weight: bold;
  border: none;
  width: 43.4vw;
  height: 5vw;
  font-size: larger;
  direction: rtl;
}

.backClr {
  background-color: #e0e0e0;
  border: 1px solid #cdcdcd;
  width: 11vw;
  height: 10vw;
  font-weight: bold;
}

.zero {
  width: 22vw;
}

.difClr {
  background-color: #f5913e;
}
