.calcBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% auto;
}

.inputUser {
  background-color: #858694;
  color: #efeff1;
  font-weight: bold;
  border: none;
  width: 19.8rem;
  height: 3rem;
  font-size: larger;
}

.backClr {
  background-color: #e0e0e0;
  border: 1px solid #cdcdcd;
  width: 5rem;
  height: 5rem;
  font-weight: bold;
  cursor: pointer;
}

.zero {
  width: 10rem;
}

.difClr {
  background-color: #f5913e;
}
